.footer {
    display: flex;
	flex-direction: column;
	width: 100%;
    padding: rem($pad / 2) rem($pad);
    background-color: $hacka_blue;
    color: white;

	&__left {
		margin-right: rem($pad);
	}

	&__right {
		margin-left: rem($pad);
		text-align: right;
	}

    @include breakpoint(medium){
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}