//Shows the status of the api (when a request is pending / if there's an error / etc).
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

.api {

    &__spinner {
        svg {
            width: 12px;
            height: 12px;
            animation: spin 1s infinite linear;
        }
    }

    &__error {

    }
}