<div class="tabs">
    <div class="tabs__tab-col">
        <div class="tabs__tab js-nav-button" data-nav-href="search" data-nav-group="main">
            <div class="tabs__tab-text">Search</div>
        </div>
    </div>
    <div class="tabs__tab-col">
        <div class="tabs__tab js-nav-button" data-nav-href="explore" data-nav-group="main">
            <div class="tabs__tab-text">Explore</div>
        </div>
    </div>
    <div class="tabs__tab-col">
        <div class="tabs__tab js-nav-button" data-nav-href="landing" data-nav-group="main">
            <div class="tabs__tab-text">About</div>
        </div>
    </div>
</div>