.main-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: rem($pad);

    //a
    &__link {
        margin-bottom: rem($pad);
    }

    @include breakpoint(small){
        flex-direction: row;
        &__link {
            margin-bottom: 0;
        }
    }
}