.map
{
  height: 800px;
  width: 100%;
  background: rgba(255,255,255,0.8);

  &__view
  {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
  }

  &__round-icon
  {
    width: 15px !important;
    height: 15px !important;
    background: #14b9d6; 
    border-radius: 50%;

    &--single
    {
      background: #f27835;
    }
  }

  &__round-icon-single
  {
    width: 15px !important;
    height: 15px !important;
    background: #f27835;
    border-radius: 50%; 
  }
}