.map
{
  height: 800px;
  width: 100%;
  background: rgba(255,255,255,0.8);

  &__view
  {
    display: inline-block;
    width: 60%;
    height: 100%;
  }

  &__sidebar
  {
    display: inline-block;
    width: 40%;
    background: gray;
  }
}

.btn
{
  display: inline-block;
  padding: 5px;
  color: white;
  background: gray;
}