.map
{
  height: 800px;
  width: 100%;
  background: rgba(255,255,255,0.8);

  &__view
  {
    display: inline-block;
    width: 60%;
    height: 100%;
    vertical-align: top;
  }

  &__sidebar
  {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }

  &__round-icon
  {
    width: 10px;
    height: 10px;
    background: #14b9d6;
    border-radius: 50%;
  }
}

.btn
{
  display: inline-block;
  padding: 5px;
  color: white;
  background: gray;
}