.requests-barchart {
	font-weight: 500;
	
	&__bar {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		stroke: black;
		stroke-width: 1px;
		rx: 5px;
		ry: 5px;
	}

		&__bar-label {
			fill: white;
			font-size: rem(14);
			font-weight: bold;
			alignment-baseline: middle;
		}

		&__bar-number {
			fill: #ccc;
			font-size: rem(20);
			alignment-baseline: middle;
		}
}