/* This is the only for the search by id input in the sidebar
 *
 */

.search-by-id-wrap {
	padding: 0 rem($hPad);
}
.search-by-id {
	margin-bottom: rem($vUnit);
	position: relative;
	display: flex;
	border-bottom: 1px solid black;
	width: 100%;
	padding-top: rem($vUnit / 2);

	&__label {
		position: absolute;
		top: 0;
		width: 100%;
		font-size: rem(12);
		line-height: rem($vUnit / 2);
	}

	&__input {
		line-height: rem($vUnit);
		background: transparent;
		border: 0;
		padding: 0 rem($hPad);
		width: 100%;
	}

	&__button {
		display: inline-block;
		padding: 0 rem($hPad);
		line-height: rem($vUnit);
		align-self: flex-end;

		svg { 
			fill: $link-color; 
			transition: fill 0.2s ease;
		}
		&:hover {
			svg { fill: $link-hover-color; }
		}
	}
}