.tabs {
	display: flex;
	&__tab-col {
		flex-grow: 1;
		position: relative;
		height: rem($vUnit);
	}

		&__tab {
			position: absolute;
			top: 0px;
			left: 1px;
			right: 1px;
			bottom: 0;
			background: $hacka_blue;
			cursor: pointer;
			transition: all 0.2s ease;

			&:hover,
			&:active,
			&.active {
				top: -10px;
				background: $hacka_range;

				.tabs__tab-text {
					bottom: 10px;
				}
			}
		}

			&__tab-text {
				position: absolute;
				bottom: 5px;
				transition: bottom 0.3s ease;
				width: 100%;
				text-align: center;
				font-weight: bold;
				color: white;
			}
}