.tabs {
	display: flex;
	&__tab-col {
		flex-grow: 1;
		position: relative;
		height: rem(40);
	}

		&__tab {
			position: absolute;
			top: rem(10);
			left: 1px;
			right: 1px;
			bottom: 0;
			background: #14b9d6;
			cursor: pointer;
			transition: all 0.2s ease;

			&:hover,
			&:active,
			&.active {
				top: 0;
				background: #f27835;
			}
		}

			&__tab-text {
				position: absolute;
				bottom: 5px;
				width: 100%;
				text-align: center;
				font-weight: bold;
				color: white;
			}
}