.main-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
    //a
    &__link {
        margin-bottom: rem($pad);
        font-size: rem(16);
        height: rem(21);
        font-weight: bold;
        @include occluded-underline(white, $link-color, $link-color);
    }

    //form
    &__search {

        &-input {

        }
        &-submit {

        }
    }

    @include breakpoint(small){
        flex-direction: row;
        &__link {
            margin-bottom: 0;

            //make a little gap between each button
            + .main-nav__link {
                margin-left: rem(20); 
            }
        }

        &__search {
            margin-left: rem(20);
        }
    }
}