

<form class="search-form js-search-filter-form__form" action="/philly311/find-requests-by-address" method="GET">

    <label class="search-form__label">
        <div class="label-text">Search within a ZIP code:</div> 
        <input type="text" placeholder="zip" name="zip" class="search-form__input js-search-form__zip">
    </label>

    <label class="search-form__label">
        <div class="label-text">What type of service request was it?</div> 
        <!-- request ids: https://gist.github.com/mheadd/7171ea534e3e3afe8037f639b630c3d5 -->
        <select type="text" class="search-form__input js-search-form__service-type" name="service-type">
            <option selected value> -- select an option -- </option>
            <option value="SR-LI21">Maintenance Residential</option>
            <option value="SR-ST03">Rubbish/Recyclable Material Collection</option>
            <option value="SR-ST02">Illegal Dumping</option>
            <option value="SR-PD01">Abandoned Automobile</option>
            <option value="SR-ST01">Street Defect</option>
            <option value="SR-CL01">Graffiti Removal</option>
            <option value="SR-ST18">Salting</option>
            <option value="SR-ST04">Street Light Outage</option>
            <option value="SR-CL02">Vacant Lot Clean-Up</option>
            <option value="SR-LI27">Vacant House or Commercial</option>
            <option value="SR-ST19">Sanitation / Dumpster Violation</option>
            <option value="SR-ST25">Traffic Signal Emergency</option>
            <option value="SR-LI06">Construction Site Task Force</option>
            <option value="SR-PR08">Street Trees</option>
            <option value="SR-FD02">Smoke Detector</option>
            <option value="SR-LI03">Building Dangerous</option>
            <option value="SR-LI02">Building Construction</option>
            <option value="SR-MI01">Miscellaneous</option>
            <option value="SR-ST16">Other (Streets)</option>
            <option value="SR-LI28">Zoning Business</option>
            <option value="SR-ST08">Complaint (Streets)</option>
            <option value="SR-ST06">Alley Light Outage</option>
            <option value="SR-WD01">Inlet Cleaning</option>
            <option value="SR-ST09">Dangerous Sidewalk</option>
            <option value="SR-LI22">No Heat (Residential)</option>
            <option value="SR-PR01">Parks and Rec Safety and Maintenance</option>
            <option value="SR-ST24">Traffic (Other)</option>
            <option value="SR-LI16">Fire Residential or Commercial</option>
            <option value="SR-LI19">License Residential</option>
            <option value="SR-LI30">Zoning Residential</option>
            <option value="SR-ST20">Shoveling</option>
            <option value="SR-ST10">Dead Animal in Street</option>
            <option value="SR-ST21">Stop Sign Repair</option>
            <option value="SR-LI17">Infestation Residential</option>
            <option value="SR-LI01">Boarding Room House</option>
            <option value="SR-ST23">Street Paving</option>
            <option value="SR-ST14">Manhole Cover</option>
            <option value="SR-WD02">Hydrant Request</option>
            <option value="SR-LI23">Other Dangerous</option>
            <option value="SR-LI25">Tree Dangerous</option>
            <option value="SR-ST13">Line Striping</option>
            <option value="SR-PD02">Police Complaint</option>
            <option value="SR-ST05">Abandoned Bike</option>
            <option value="SR-FD01">Complaints against Fire or EMS</option>
            <option value="SR-LI08">Daycare Residential or Commercial</option>
            <option value="SR-ST15">Newsstand Outdoor Cafe</option>
            <!-- <option value="ST24">Hydrant Knocked Down (No Water)</option>
            <option value="ST24">No Heat Residential</option>
            <option value="ST24">Newsstand/Outdoor Cafe</option> -->
            <option value="SR-LI13">Emergency Air Conditioning</option>
        </select>
    </label>

    <!-- http://dev.office.com/fabric#/components/datepicker -->
    <label class="search-form__label">
        <div class="label-text">When did you make the request?</div> 
        <input type="date" class="search-form__input js-search-form__date-of-request" name="date-of-request">
    </label>

    <label class="search-form__label">
        <div class="label-text">Agency</div> 
        <select type="text" class="search-form__input js-search-form__agency-responsible" name="agency-responsible">
            <option selected value> -- select an option -- </option>
            <option value="Streets Department">Streets Department</option>
            <option value="Community Life Improvement Program">Community Life Improvement Program</option>
            <option value="Police Department">Police Department</option>
            <option value="Philly311 Contact Center">Philly311 Contact Center</option>
            <option value="City Commissioners Office">City Commissioners Office</option>
            <option value="Mayors Office">Mayor's Office</option>
            <option value="First Judicial District/Courts">First Judicial District/Courts</option>
            <option value="Philadelphia Housing Development Corporation- PHDC">Philadelphia Housing Development Corporation- PHDC</option>
            <option value="Prisons">Prisons</option>
            <option value="Water Department (PWD)">Water Department (PWD)</option>
            <option value="Office of Human Resources- OHR">Office of Human Resources- OHR</option>
            <option value="Managing Director's Office- MDO">Managing Director's Office- MDO</option>
            <option value="License %26 Inspections">License & Inspections</option>
            <option value="Office of Housing %26 Community Development- OHCD">Office of Housing & Community Development- OHCD</option>
            <option value="Department of Public Health">Department of Public Health</option>
            <option value="Department of Records">Department of Records</option>
            <option value="Parks %26 Recreation">Parks & Recreation</option>
            <option value="State/Federal Government Offices">State/Federal Government Offices</option>
            <option value="District Attorney's Office">District Attorney's Office</option>
            <option value="Revenue">Revenue</option>
            <option value="Directory Assistance">Directory Assistance</option>
            <option value="Fair Housing Commission">Fair Housing Commission</option>
            <option value="Office of the Director of Finance">Office of the Director of Finance</option>
            <option value="Probation/Parole">Probation/Parole</option>
            <option value="City Council">City Council</option>
            <option value="Department of Human Services- DHS">Department of Human Services- DHS</option>
            <option value="Office of Property Assessment- OPA">Office of Property Assessment- OPA</option>
            <option value="Law Department/ City Solicitor">Law Department/ City Solicitor</option>
            <option value="Register of Wills/ Orphans Court">Register of Wills/ Orphans Court</option>
            <option value="City Controller">City Controller</option>
            <option value="Water Revenue">Water Revenue</option>
            <option value="Office of Economic Opportunity- OEO">Office of Economic Opportunity- OEO</option>
            <option value="Sheriff's Department">Sheriff's Department</option>
            <option value="Office of Homeless Services - OHS">Office of Homeless Services - OHS</option>
            <option value="Board of Revision of Taxes- BRT">Board of Revision of Taxes- BRT</option>
            <option value="Mayor's Office of Transportation and Utilities- MOTU">Mayor's Office of Transportation and Utilities- MOTU</option>
            <option value="City Planning Commission">City Planning Commission</option>
            <option value="Office of the Inspector General">Office of the Inspector General</option>
            <option value="Fire Department">Fire Department</option>
            <option value="Commerce Department">Commerce Department</option>
            <option value="City Representative">City Representative</option>
            <option value="Philadelphia Housing Authority- PHA">Philadelphia Housing Authority- PHA</option>
            <option value="Human Relations Commission">Human Relations Commission</option>
            <option value="Philadelphia Redevelopment Authority- PRA">Philadelphia Redevelopment Authority- PRA</option>
            <option value="Behavioral Health and Intellectual Disability Services- DBHIDS">Behavioral Health and Intellectual Disability Services- DBHIDS</option>
            <option value="Office of Innovation and Technology- OIT">Office of Innovation and Technology- OIT</option>
            <option value="Ethics Board">Ethics Board</option>
            <option value="Procurement Department">Procurement Department</option>
            <option value="Free Library">Free Library</option>
            <option value="Public Property">Public Property</option>
        </select>
    </label>


    <input type="submit" value="Search" class="search-form__submit js-search-filter-form__submit" />

</form>

<div class="search-form__or"><span class="search-form__or-text">Or</span></div>

<form class="search-form js-search-id-form__form" action="/philly311/find-requests-by-address" method="GET">
    <label class="search-form__label">
        <div class="label-text">Search a specific request ID:</div> 
        <input type="text" placeholder="Request ID" name="id" class="search-form__input js-search-form__id">
    </label>

    <input type="submit" value="Search" class="search-form__submit js-search-id-form__submit" />
</form>

<script>
    threeOneOne.searchForm.init();
</script>