.search-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	max-width: 400px;

	&__label {
		width: 100%;
	}
		&__label-text {
			
		}
		&__input {
			display: block;
			width: 100%;
		}

	&__submit {
		display: block;
		margin-left: auto;
		align-self: flex-end;
	}

	//the ro divider between the 2 forms =============== WARNING! MAGIC NUMBER!
	&__or {
		text-align: center;
		margin: rem($pad * 2) 0 rem(($pad * 2) + 23);
		border-bottom: 1px dashed rgba($rule-color, 0.5);
		height: 23px;

		&-text { //span
			display: inline-block;
			padding: rem($pad);
			background-color:$background-color-dark;
		}
	}
}