.header {
	display: flex;
	align-items: flex-end;
	width: 100%;
	transform: translate(0, -10px);
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;
	border-bottom: 1px solid $hacka_blue;

	&.js-loaded {
		opacity: 1;
		transform: translate(0, 0px);
	}

	&__sidebar {
		width: rem(350);
		text-align: center;
		padding-left: rem($hPad);
	}
	&__body {
		flex-grow: 1;
	}
}