.header {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: $white;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);

	//the load in animation... for fun!
	transform: translate(0, -10px);
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;
	&.js-loaded {
		opacity: 1;
		transform: translate(0, 0px);
	}


	@include breakpoint(medium){
		flex-direction: row;
		align-items: flex-end;
		
		&__sidebar {
			max-width: 350px;
			min-width: 270px;
			padding-left: rem($hPad);
		}
		&__body {
			flex-grow: 1;
		}
	}
}