.main {
	display: flex;
	width: 100%;
	transform: translate(0, -10px);
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;

	&.js-loaded {
		opacity: 1;
		transform: translate(0, 0px);
	}

	&__title {
		width: rem(250);
		padding-left: rem($hPad);
		text-align: center;
	}

	&__sidebar {
		width: rem(250);
	}
	&__body {
		flex-grow: 1;
	}
		&__section {
			padding: 0 rem($hPad) rem($vUnit) rem($hPad);
		}
}