.view {
	display: flex;
	width: 100%;

	&__sidebar {
		width: rem(350);
    height: calc(100vh - 65px); // 65px is height of header
		padding-top: rem($vUnit / 2);
    overflow: scroll;
	}
	&__body {
		flex-grow: 1;
	}
}