.sidebar-layout {

    @include breakpoint(medium) {
        display: flex;

        &__sidebar {
            width: rem(300);
            padding: 0 rem($pad);
        }

        &__body {
            width: 100%;
        }
    }
}