.search-by-filters {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	max-width: 400px;
	padding: 0 rem($hPad) rem($vUnit / 2);

	&__expander-button {
		width: 100%;
		text-align: center;
		font-size: rem(12);
		line-height: rem($vUnit / 2);
		&:focus {
			outline: 1px solid $link-hover-color;
		}
	}

	&__expander-section {
		display: none;
		padding-top: rem($vUnit / 2);
		width: 100%;
	}


	&__label {
		width: 100%;
	}
		&__label-text {
			
		}
		&__input {
			display: block;
			width: 100%;
		}

	//hides / expands
	&__advanced-section {
		display: none;
	}
	

	&__submit {
		display: block;
		margin-left: auto;
		align-self: flex-end;
	}
}