<header class="header js-header">
    <h1 class="header__title">
        <a href="/" class="header__title-text">Philly 311</a>
        <span class="header__title-menu-icon js-header__menu-icon">
            {{> _svg/arrow }}
        </span>
    </h1>

    <div class="header__nav-wrap">

        <nav class="main-nav">
        
            <div class="main-nav__links">
                <a href="/philly311/submit-request" class="main-nav__link"> 
                    Submit Request
                </a>
<!--
                <a href="/philly311/find-requests-by-address" class="main-nav__link"> 
                    Your Neighbourhood
                </a>
-->
                <a href="/philly311/stats" class="main-nav__link"> 
                    Explore Stats
                </a>
            </div>

            <form class="main-nav__search" action="/philly311/search" method="GET" class="js-header-search">
                <input type="text" name="search" class="main-nav__search-input" placeholder="Request ID / ZIP">
                <label class="main-nav__search-submit">
                    {{> _svg/search }}
                    <input type="submit" value="Search">
                </label>
            </form>
        </nav>

    </div>
</header>