.sidebar-layout {

    &__sidebar {
        padding: rem($pad);
    }

    &__body {
        padding: rem($pad);
    }
    
    @include breakpoint(medium) {
        display: flex;

        &__sidebar {
            width: rem(300);
            background: darken($background-color, 5%);
        }

        &__body {
            width: 100%;
        }
    }
}