<div class="about__content">
	<h2 class="about__title">Hackadashery</h2>
	<div class="about__description">
		Some text about Hackadashery & 311 (for those of us who don't know), Code For Philly (and how to get involved), and also probably something to say that this is not an "official" app and that users should be thankful it's not an "official" app because that means that this is probably better.
	</div>
</div>