<div class="landing__content">


	<div class="landing__actions">
		<div class="cta js-nav-button" data-nav-href="search" data-nav-group="main">Search</div>
		<div class="cta js-nav-button" data-nav-href="submit" data-nav-group="main">Submit</div>
		<div class="cta js-nav-button" data-nav-href="explore" data-nav-group="main">Explore</div>
	</div>


	<h2 class="landing__title">Hackadashery</h2>
	<div class="landing__description">
		This is a volunteer built web-app from <a href="https://codeforphilly.org/">Code for Philly's</a> <a href="https://codeforphilly.org/blog/city_as_a_service_hackathon_2016">2016 City as a Service Hackathon</a>, as such - it's not an "official" 311 app, nope - you can thank the <a href="https://github.com/hackadashery">Hackadashery</a> team for all this magic! The project's on github and we're open to pull requests - so feel free to get involved! Unless you don't live in Philly (yet), you guys are probably too busy arranging your move over here so it's ok not to get involved until you're settled.
	</div>
</div>