<div class="view__mobile-header">
	<div class="view__mobile-header-button">
		
		<div class="mobile-menu-button js-mobile-menu-button" data-mobile-menu-name="map">
			<div class="mobile-menu-button__dot mobile-menu-button__dot--1"></div>
			<div class="mobile-menu-button__dot mobile-menu-button__dot--2"></div>
			<div class="mobile-menu-button__dot mobile-menu-button__dot--3"></div>
		</div>
	
	</div>
	<div class="view__mobile-header-title"><b>Search</b> for a specific 311 request to see how it's getting on.</div>
</div>

<div class="view__sidebar view__sidebar--mobile-slide js-mobile-menu-slide" data-mobile-menu-name="map">

	<!-- This has it's own JS component, search-by-id-form.js -->
	<div class="search-by-id-wrap">
		<div class="search-by-id js-search-by-id-form">
			<label class="search-by-id__label">Search your case ID, eg 10895664</label> 
			<input type="text" class="search-by-id__input js-search-by-id-input">
			<button class="search-by-id__button js-search-by-id-button">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
					<path d="M3.5 0c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5c.59 0 1.17-.14 1.66-.41a1 1 0 0 0 .13.13l1 1a1.02 1.02 0 1 0 1.44-1.44l-1-1a1 1 0 0 0-.16-.13c.27-.49.44-1.06.44-1.66 0-1.93-1.57-3.5-3.5-3.5zm0 1c1.39 0 2.5 1.11 2.5 2.5 0 .66-.24 1.27-.66 1.72-.01.01-.02.02-.03.03a1 1 0 0 0-.13.13c-.44.4-1.04.63-1.69.63-1.39 0-2.5-1.11-2.5-2.5s1.11-2.5 2.5-2.5z"/>
				</svg>
			</button>
		</div>
	</div>


	<div class="general-search-form js-general-search">

		<button class="general-search-form__expander-button js-general-search-form-toggle">Don't know your case ID?</button>

		<div class="general-search-form__expander-section js-general-search-form">

			<label class="general-search-form__label">
				<span class="general-search-form__label-text">What type of service request was it?</span> 
				<!-- request ids: https://gist.github.com/mheadd/7171ea534e3e3afe8037f639b630c3d5 -->
				<select type="text" class="general-search-form__input js-search-service-type">
					<option selected value> -- select an option -- </option>
					<option value="SR-LI21">Maintenance Residential</option>
					<option value="SR-ST03">Rubbish/Recyclable Material Collection</option>
					<option value="SR-ST02">Illegal Dumping</option>
					<option value="SR-PD01">Abandoned Automobile</option>
					<option value="SR-ST01">Street Defect</option>
					<option value="SR-CL01">Graffiti Removal</option>
					<option value="SR-ST18">Salting</option>
					<option value="SR-ST04">Street Light Outage</option>
					<option value="SR-CL02">Vacant Lot Clean-Up</option>
					<option value="SR-LI27">Vacant House or Commercial</option>
					<option value="SR-ST19">Sanitation / Dumpster Violation</option>
					<option value="SR-ST25">Traffic Signal Emergency</option>
					<option value="SR-LI06">Construction Site Task Force</option>
					<option value="SR-PR08">Street Trees</option>
					<option value="SR-FD02">Smoke Detector</option>
					<option value="SR-LI03">Building Dangerous</option>
					<option value="SR-LI02">Building Construction</option>
					<option value="SR-MI01">Miscellaneous</option>
					<option value="SR-ST16">Other (Streets)</option>
					<option value="SR-LI28">Zoning Business</option>
					<option value="SR-ST08">Complaint (Streets)</option>
					<option value="SR-ST06">Alley Light Outage</option>
					<option value="SR-WD01">Inlet Cleaning</option>
					<option value="SR-ST09">Dangerous Sidewalk</option>
					<option value="SR-LI22">No Heat (Residential)</option>
					<option value="SR-PR01">Parks and Rec Safety and Maintenance</option>
					<option value="SR-ST24">Traffic (Other)</option>
					<option value="SR-LI16">Fire Residential or Commercial</option>
					<option value="SR-LI19">License Residential</option>
					<option value="SR-LI30">Zoning Residential</option>
					<option value="SR-ST20">Shoveling</option>
					<option value="SR-ST10">Dead Animal in Street</option>
					<option value="SR-ST21">Stop Sign Repair</option>
					<option value="SR-LI17">Infestation Residential</option>
					<option value="SR-LI01">Boarding Room House</option>
					<option value="SR-ST23">Street Paving</option>
					<option value="SR-ST14">Manhole Cover</option>
					<option value="SR-WD02">Hydrant Request</option>
					<option value="SR-LI23">Other Dangerous</option>
					<option value="SR-LI25">Tree Dangerous</option>
					<option value="SR-ST13">Line Striping</option>
					<option value="SR-PD02">Police Complaint</option>
					<option value="SR-ST05">Abandoned Bike</option>
					<option value="SR-FD01">Complaints against Fire or EMS</option>
					<option value="SR-LI08">Daycare Residential or Commercial</option>
					<option value="SR-ST15">Newsstand Outdoor Cafe</option>
					<!-- <option value="ST24">Hydrant Knocked Down (No Water)</option>
					<option value="ST24">No Heat Residential</option>
					<option value="ST24">Newsstand/Outdoor Cafe</option> -->
					<option value="SR-LI13">Emergency Air Conditioning</option>
				</select>
			</label>

			<!-- http://dev.office.com/fabric#/components/datepicker -->
			<label class="general-search-form__label">
				<span class="general-search-form__label-text">When did you make the request?</span> 
				<input type="date" class="general-search-form__input js-search-date-of-request">
			</label>
		
			<button class="general-search-form__button js-adv-search-submit">Search</button>
		</div>
	</div>
	
	<div class="search-results request-details">  
      <div class="search-results__details js-request-details"></div>
      <div class="search-results__legend js-request-type"></div>
    </div>

</div>
<div class="view__body">
	
	<div class="map">
	  <div id="map__view" class="map__view">
	  	<div class="map__legend"></div>
	  </div>
	</div>

</div>