<div class="view__sidebar">

	<div class="search-form js-search-form">
		<label class="search-form__label">
			<span class="search-form__label-text">Enter your case ID, eg 10895664</span> <input type="text" class="search-form__input js-search-request-id">
		</label>

		<div class="search-form__advanced-section js-search-advanced-section">
			<label class="search-form__label">
				<span class="search-form__label-text">Select a service type</span> 
				<select type="text" class="search-form__input js-search-service-type">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">4</option>
				</select>
			</label>
		</div>

		<div class="splitter">
			<div class="splitter__left">
				<button class="search-form__forgotten-expander js-expand-adv-search">Don't know your case ID?</button>
			</div>
			<div class="splitter__right">
				<button class="search-form__button js-search-submit">Search</button>
			</div>
		</div>
	</div>
	
	<div class="search-results request-details">  
      <div class="search-results__details js-request-details"></div>
      <div class="search-results__legend js-request-type"></div>
    </div>

</div>
<div class="view__body">
	
	<div class="map">
	  <div id="map__view" class="map__view"></div>
	</div>

</div>