<div class="tabs">
	<div class="tabs__tab-col">
		<div class="tabs__tab">
			<div class="tabs__tab-text">DAY</div>
		</div>
	</div>
	<div class="tabs__tab-col">
		<div class="tabs__tab">
			<div class="tabs__tab-text">WEEK</div>
		</div>
	</div>
	<div class="tabs__tab-col">
		<div class="tabs__tab">
			<div class="tabs__tab-text">MONTH</div>
		</div>
	</div>
	<div class="tabs__tab-col">
		<div class="tabs__tab">
			<div class="tabs__tab-text">YEAR</div>
		</div>
	</div>
</div>