<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Protodashery</title>
	<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="{{ distUrl }}css/main.css">
</head>
<body>
	<svg width="0" height="0" style="position: absolute; z-index: -1;">
		<defs>
			<pattern id="redstripe" patternUnits="userSpaceOnUse" width="20" height="20">
				<rect width="20" height="20" style="fill: rgba(255,0,0,0.2);"/>
				<path d="M-1,1 l2,-2            M0,20 l20,-20            M19,21 l2,-2" style="stroke:rgba(255,0,0,0.2);" stroke-width="2"/>
			</pattern>
		</defs>
	</svg>

	<h1>Philly 311</h1>

	<div class="main">
		<div class="main__sidebar">
			
			<nav>
				<button class="nav-button">Grey Linechart</button>
				<button class="nav-button">Blue barchart</button>
				<button class="nav-button">Balance Linechart</button>
				<button class="nav-button">Map</button>
			</nav>

		</div>
		<div class="main__body">
			
			<section>
				{{> timespan_tabs }}
				<div class="requests-linechart"></div>
			</section>

			<section>
				{{> timespan_tabs }}
				<svg id="requests-barchart" class="requests-barchart"></svg>
			</section>

			<section>
				<svg id="burnchart" class="burnchart"></svg>
			</section>

			<section>
				<div class="toolbar">
				  <label for="map__request">Enter request ID</label>
				  <input type="text" id="map__request" class="map__request" />
				  <input type="submit" class="btn js-id-request" value="Submit" />
				</div>
				<div class="map">
				  <div id="map" class="map__view"></div>
				  <div class="map__sidebar">
				  	<div class="map__sidebar--status">
				  		
				  	</div>
				  </div>
				</div>
			</section>

		</div>
	</div>
</body>

<script type="text/javascript" src="{{ distUrl }}js/common.bundle.js"></script>
</html>