<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Protodashery</title>
	<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="{{ distUrl }}css/main.css">
	<link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
	<link rel="manifest" href="/icon/manifest.json">
	<meta name="msapplication-TileColor" content="#0074c9">
	<meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
	<meta name="theme-color" content="#0074c9">
</head>
<body>
	<svg width="0" height="0" style="position: absolute; z-index: -1;">
		<defs>
			<pattern id="redstripe" patternUnits="userSpaceOnUse" width="20" height="20">
				<rect width="20" height="20" style="fill: rgba(255,0,0,0.2);"/>
				<path d="M-1,1 l2,-2            M0,20 l20,-20            M19,21 l2,-2" style="stroke:rgba(255,0,0,0.2);" stroke-width="2"/>
			</pattern>
		</defs>
	</svg>

	<h1>Philly 311</h1>

	<div class="main">
		<div class="main__sidebar">
			
			<nav>
				<button class="nav-button js-nav-button" data-section="linebasic">Grey Linechart</button>
				<button class="nav-button js-nav-button" data-section="bluebar">Blue barchart</button>
				<button class="nav-button js-nav-button" data-section="burnrate">Burnrate</button>
				<button class="nav-button js-nav-button" data-section="map">Map</button>
			</nav>

		</div>
		<div class="main__body">
			
			<section id="linebasic" class="js-nav-section">
				{{> timespan_tabs }}
				<div class="requests-linechart"></div>
			</section>

			<section id="bluebar" class="js-nav-section">
				{{> timespan_tabs }}
				<svg id="requests-barchart" class="requests-barchart"></svg>
			</section>

			<section id="burnrate" class="js-nav-section">
				<svg id="burnchart" class="burnchart"></svg>
			</section>

			<section id="map" class="js-nav-section">
				<div class="toolbar">
				  <label for="map__request">Enter request ID</label>
				  <input type="text" id="map__request" class="map__request" />
				  <input type="submit" class="btn js-id-request" value="Submit" />
				</div>
				<div class="map">
				  <div id="map" class="map__view"></div>
				  <div class="map__sidebar">
				  	<div class="map__sidebar--status">
				  		
				  	</div>
				  </div>
				</div>
			</section>

		</div>
	</div>
</body>

<script type="text/javascript" src="{{ distUrl }}js/common.bundle.js"></script>
</html>