<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Protodashery</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<p>Hello Philly!</p>

	<div class="main-columns">
		<div class="main-columns__col">
			<section class="requests-linechart"></section>
		</div>
		<div class="main-columns__col">
			{{> department_totals_barchart }}
		</div>
		<div class="main-columns__col">
			
		</div>
	</div>

</body>

<script type="text/javascript" src="js/common.bundle.js"></script>
</html>